<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <input type="username" id="username" placeholder="Email"><br><br>
    <input type="password" id="password" placeholder="Contraseña"><br><br>
    <button onclick="login()">Entrar</button>

    <p id="mensaje"></p>

    <script>
        async function login() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/users/login/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username, password })
            });

            const data = await response.json();

            if (response.ok) {
                document.getElementById('mensaje').textContent = 'Login exitoso';
                console.log('Token:', data.token); // si usas tokens
            } else {
                document.getElementById('mensaje').textContent = 'Error: ' + JSON.stringify(data);
            }
        }
    </script>
</body>
</html>