<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Actualizar Perfil</title>
</head>
<body>

    <h2>Actualizar Perfil</h2>

    <form id="updateForm">
        <label>Username:</label><br>
        <input type="text" id="username" value="{}"><br><br>

        <label>Email:</label><br>
        <input type="email" id="email" value="{}"><br><br>

        <label>Password:</label><br>
        <input type="password" id="password" placeholder="Nueva contraseña"><br><br>

        <button type="submit">Actualizar</button>
    </form>

    <p id="response"></p>

    <script>
        const form = document.getElementById("updateForm");

        form.addEventListener("submit", async function(e) {
            e.preventDefault();

            const data = {};

            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            if (username) data.username = username;
            if (email) data.email = email;
            if (password) data.password = password;

        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            cookie = cookie.trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

            const response = await fetch("http://127.0.0.1:8000/api/users/profile/", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                'X-CSRFToken': csrftoken,  // csrftoken obtenido de la cookie
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            document.getElementById("response").innerText =
                "Status: " + response.status + " | " + JSON.stringify(result);
        });
    </script>

</body>
</html>